*{
	font-family: Arial;
	font-size: 13px;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

body{
	background-color:#edeef0;
	margin-bottom: 25px;
}

A { 
	color: #2e5473;
	text-decoration: none; 
}

A:hover {
	background-color: #e1e5eb;
}
 
::selection {
 	color: green;
    background-color: #e1e5eb;
}
 
.nav {
 	list-style: none;
  	float: left;
  	width: 165px;
	margin-top: 15px;
} 

.ContainerRightBlock{	
	float: right;
 	width: 125px;
 }

.ItemRightBlock{
	background-color: white;
 	padding: 5px;
    margin: 15px 0px;
    border: 1px solid #d0d0d0;
    border-radius: 3px
}
.ItemRightBlock div{
	background-color:#edeef0;
	margin: 10px 0px;
}

.nav a{
 	display: block;
	padding: 10px;
}

.ContainerContent{
 	position: absolute;
    top: 0px;
    bottom: 0px;
    left: 165px;
    right: 250px;
}
 
.ItemContent{
 	
 	background-color: white;
 	padding: 0px;
    margin: 10px 15px;
 	text-align: justify;
    border: 1px solid #d0d0d0;
    border-radius: 10px
    
}
.Text{
	margin: 10px 10px;
	border-bottom: solid #d0d0d0 3px;
	padding: 5px;
}
 
.header{
	 background-color: #507299;
     color: white;
	 margin-bottom: 0;
	 text-align: center;
	 height:45px; 
	 vertical-align: center;
	 padding-top: 10px;
	 padding-bottom: 10px;
	 font-size: 25px;
}
 
.footer{
     color: #d0d0d0;
	 background-color: white;
	 text-align: center;
	 height:25px; 
	 vertical-align: center;
	 padding-top: 3px;
	 padding-bottom:3px;
	 font-size:15px;
	 width: 100%;
     clear: both;
}
 
.page{
     position: absolute;
     top: 45px;
     bottom: 25px;
     left: 50%;
     margin-left: -400px;
	 width: 800px; 
}

.Like{
	float: left;
	color: #2e5473;
	margin: 0px 10px 10px 10px;
}

.Comment{
	text-align: end;
	color: #2e5473;
	margin: 0px 10px 10px 10px;
}

.ItemContent img {
    width: 333px;
	margin: 10px 10px;
	border-bottom: solid #d0d0d0 3px;
	padding-bottom: 5px;
}

.Title{
	border-bottom: solid #d0d0d0 3px;
	padding: 15px 15px 5px 15px;
}

.header img{
	margin-left: -70%;
}

@media  (max-width: 810px) {
    .ContainerRightBlock {
        display:none;
    }

	.ContainerContent{
	   right: 50px;
	}

	.page{
		margin-left: -300px;
		width: 600px; 
	}
}

@media  (max-width: 610px) {
	.ContainerContent{
	   right: 25px;
	   left: 25px;
	}

	.page{
		margin-left: -200px;
		width: 400px; 
	}
	
	.nav {
		float:none;
		width: 350px;
		margin-left: 40px;
		line-height: 2;
	} 
	
	.nav a{
		display: inline;
	}

	li {
		display: inline;
	}

	.ContainerContent{
		margin-top: 70px;
	}

	.ItemContent img {
		width: 300px;
	}
}
